<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ExecutablePath" value="C:\something.exe"/>
        <add key="InstanceCount" value="7"/>
        <add key="MaxMinutesToRun" value="480"/>
        <add key="MinMinutesToRestart" value="30"/>
        <add key="MaxMinutesToRestart" value="120"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
</configuration>
